/* ==== Global ==== */
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #DDD;
}

.container {
    width: min(80vw, 950px);

    margin: auto;
    margin-top: 1.5rem;
}

/* ==== Header ==== */
header {
    width: 100%;
    height: 180px;

    background: blue;

    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    color: #CCC;
    
    padding: 1rem;

    border: 2px solid #CCC;
}



/* ==== Menu Under Header ==== */
.menu-under-header {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fff;
    
    height: 3rem;
}
.menu-under-header ul {
    display: inline-flex;
    margin-top: 0.6rem;
}

.menu-under-header ul a {
    text-decoration: none;
    text-transform: uppercase;

    color: #444;
}

.menu-under-header li {
    list-style: none; 
}

#sobre {
    margin-right: 1.5rem;
}

#contact {
    margin-left: 1.5rem;
}


/* ==== Section About Us ==== */
h2 {
    font-weight: normal;
}

#tech-figure {
    width: 18rem;
    height: 12rem;

    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}